/* Reset some default styles */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri';
    background-color: rgb(232, 235, 237);
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(149,187,32);
    color: #fff;
}

form {
    text-align: center;
    margin-top: 20px;
}

/* Updated button styles for increased size */
button {
    width: 250px; /* Set a fixed width for the buttons */
    padding: 20px; /* Adjust padding for increased size */
    font-size: 18px; /* Adjust font size for increased size */
    background-color: rgb(0,53,78);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(5, 95, 136);
}

table {
    width: 80%; /* Set a specific width for the tables */
    margin: 0 auto; /* Center the tables within the container */
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(0,53,78);
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    button {
        width: auto; /* Set auto width for responsiveness */
        font-size: 16px; /* Adjust font size for responsiveness */
        padding: 15px; /* Adjust padding for responsiveness */
    }
}
